{% extends "my_blog/base.html" %}
{% block content %}
    <h1 class="border-bottom mb-4">¿Quiénes somos?</h1>
    <p>En teoría, tras programar una página web sin tener ni idea, esta parte sería la más sencilla...
        Pues resulta que no es así.</p>
    <p>Soy Mario Fernández. Ingeniero industrial en Centro Espacial Guayanés, trabajando
        dentro del marco de proyectos del lanzador Ariane 6. Siempre me ha apasionado la ciencia.
        Por otro lado, desde que llegué a Kourou, comencé a interesarme por la escritura y,
        como no podría ser de otra manera, la Ciencia Ficción.
        Un par de años después, mi primera novela está a punto de publicarse (o ya se ha publicado, depende de
        cuando leas esto) y sé que no será la última.</p>
    <p>Este blog surge de la unión de ambas pasiones, la ciencia y la ficción. Si te gusta escribir sobre este género,
        te animo a que compartas tus obras con nosotros. Si te interesa la ciencia y sus avances,
        aquí podrás encontrar artículos sobre la actualidad en el campo.
        Y si te gusta hacer equilibrio en la línea que separa la ficción y la ciencia, sin duda, este es tu sitio.</p>
{% endblock content %}