{% extends "my_blog/base.html" %}
{% block content %}
    {% comment %}
    <div class="row portfolios-area">
        <div class="col-lg-6 col-md-6 web">
            <a href="#" class="portfolio-item set-bg image-lit">
                <div class="pi-inner">
                    <h2>Ficción</h2>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 digital">
            <a href="#" class="portfolio-item set-bg image-sci">
                <div class="pi-inner">
                    <h2>Ciencia</h2>
                </div>
            </a>
        </div>
    </div>
    {% endcomment %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="article-img" src="{{ post.author.profile.image.url }}">
            <div class="post-preview">
                <h2><a class="border-bottom post-title link-c" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="post-preview">{{ post.content|truncatechars:200 }}</p>
                <p class="post-meta">
                    <a class="link-c" href="{% url 'user-posts' post.author.username %}">Posted by {{ post.author }}</a>
                    <small class="post-meta ml-2">{{ post.date_posted|date:"F d, Y" }}</small>
                    <small class="text-muted ml-4">Likes: {{ post.likes.count }}</small>
                    <small class="text-muted ml-4">
                        <a href="{% url 'post-detail' post.id %}">Comments: {{ post.comments.count }}</a>
                    </small>
                    {% if post.label == 'ciencia' %}
                        <a class="ml-4 link-c" href="{% url 'science-posts' %}">{{ post.label }}</a>
                    {% elif post.label == 'ficción' %}
                        <a class="ml-4 link-c" href="{% url 'fiction-posts' %}">{{ post.label }}</a>
                    {% endif %}
                </p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn-p btn-p-outline-info mb-4" href="?page=1">Primero</a>
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Ant</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn-p btn-p-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn-p btn-p-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sig</a>
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Últ</a>
        {% endif %}
    {% endif %}
{% endblock content %}