{% extends "my_blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="post-preview">
                <h2><a class="border-bottom link-c" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="post-preview">{{ post.content|truncatechars:200 }}</p>
                <p class="post-meta">
                    <img class="article-img" src="{{ post.author.profile.image.url }}">
                    <a class="link-c" href="{% url 'user-posts' post.author.username %}">Publicado por {{ post.author }}</a>
                    <small class="post-meta ml-2">{{ post.date_posted|date:"d F, Y" }}</small>
                    <a class="fas fa-thumbs-up ml-4 fa-lg"></a>
                    <small class="text-muted ml-2">{{ post.likes.count }}</small>
                    <a class="fas fa-comment ml-4 fa-lg"></a>
                    <small class="text-muted ml-2">{{ post.comments.count }}</small>
                    {% if post.label == 'Ciencia' %}
                        <a class="ml-4 link-c" href="{% url 'science-posts' %}">{{ post.label }}</a>
                    {% elif post.label == 'Ficción' %}
                        <a class="ml-4 link-c" href="{% url 'fiction-posts' %}">{{ post.label }}</a>
                    {% endif %}
                </p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn-p btn-p-outline-info mb-4" href="?page=1">Primero</a>
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Ant</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn-p btn-p-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn-p btn-p-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sig</a>
            <a class="btn-p btn-p-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Últ</a>
        {% endif %}
    {% endif %}
{% endblock content %}