.article-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius:50%;
}

.comment-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius:50%;
}

.resaltar:hover{color:#909090;text-decoration:underline}

.comment {
    margin: 20px 0px 20px 20px;
    background-color: #fdfdfd;
}

.profile-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-botton: 16px;
  border-radius:50%;
}

.content-section {
  background: #ffffff;
  padding: 20px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.account-heading {
  font-size: 2.5rem;

}

.centrado {
    text-align: center;
}

.weak-white{
    color: #f2f2f2
}

.image-lit{
    background: url('../../../../../media/img/literatura.jpg') no-repeat center center;
}

.image-sci{
    background: url('../../../../../media/img/ciencia.jpg') no-repeat center center;
}

/*De Clean Blog*/
.title-c{padding:0 0 0;color:#fff}

.link-c:hover{color:#909090!important; decoration:none!important;}

/*De Riddle*/
.portfolios-area .gallery-block {
  padding: 0;
}

.portfolio-item {
  display: block;
  width: 100%;
  height: 500px;
  background-position: center center;
  position: relative;
  margin-bottom: 100px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/*De Bootstrap*/

.btn-c{
    display:inline-block;
    font-weight:400;
    color:#f2f2f2;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     margin-bottom: 30px;
    }
@media (prefers-reduced-motion:reduce){.btn-c{transition:none}}
.btn-c:hover{color:#f2f2f2;text-decoration:none}
.btn-c.focus,.btn-c:focus{outline:0;box-shadow:0 0 0 .2rem rgba(242, 242, 242, 0.7)}
.btn-c.disabled,.btn-c:disabled{opacity:.65}
a.btn-c.disabled,fieldset:disabled a.btn-c{pointer-events:none}

.btn-c-outline-info{color:#f2f2f2;border-color:#f2f2f2}
.btn-c-outline-info:hover{color:#202020;background-color:rgba(242, 242, 242, 0.7);border-color:#f2f2f2}
.btn-c-outline-info.focus,.btn-c-outline-info:focus{box-shadow:0 0 0 .2rem rgba(242, 242, 242, 0.7)}
.btn-c-outline-info.disabled,.btn-c-outline-info:disabled{color:#f2f2f2;background-color:transparent}
.btn-c-outline-info:not(:disabled):not(.disabled).active,.btn-c-outline-info:not(:disabled):not(.disabled):active,.show>.btn-c-outline-info.dropdown-toggle{color:#f2f2f2;background-color:#f2f2f2;border-color:#f2f2f2}
.btn-c-outline-info:not(:disabled):not(.disabled).active:focus,.btn-c-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-c-outline-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(242, 242, 242, 0.7)}

.btn-p{
    display:inline-block;
    font-weight:400;
    color:#202020;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     margin-bottom: 20px;
    }
@media (prefers-reduced-motion:reduce){.btn-p{transition:none}}
.btn-p:hover{color:#202020;text-decoration:none}
.btn-p.focus,.btn-p:focus{outline:0;box-shadow:0 0 0 .2rem rgba(18,18,18,.7)}
.btn-p.disabled,.btn-p:disabled{opacity:.65}
a.btn-p.disabled,fieldset:disabled a.btn-p{pointer-events:none}

.btn-p-outline-info{color:#202020;border-color:#202020}
.btn-p-outline-info:hover{color:#f2f2f2;background-color:rgba(18,18,18,.7);border-color:#f2f2f2}
.btn-p-outline-info.focus,.btn-p-outline-info:focus{box-shadow:0 0 0 .2rem rgba(18,18,18,.7)}
.btn-p-outline-info.disabled,.btn-p-outline-info:disabled{color:#202020;background-color:transparent}
.btn-p-outline-info:not(:disabled):not(.disabled).active,.btn-p-outline-info:not(:disabled):not(.disabled):active,.show>.btn-p-outline-info.dropdown-toggle{color:#202020;background-color:#202020;border-color:#202020}
.btn-p-outline-info:not(:disabled):not(.disabled).active:focus,.btn-p-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-p-outline-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(18,18,18,.7)}

.btn-p-info{color:#202020;background-color:#f2f2f2;border-color:#202020}
.btn-p-info:hover{color:#f2f2f2;background-color:rgba(18,18,18,.7);border-color:#202020}
.btn-p-info.focus,.btn-p-info:focus{box-shadow:0 0 0 .2rem rgba(18,18,18,.7)}
.btn-p-info.disabled,.btn-p-info:disabled{color:#202020;background-color:transparent;border-color:#202020}
.btn-p-info:not(:disabled):not(.disabled).active,.btn-p-info:not(:disabled):not(.disabled):active,.show>.btn-p-info.dropdown-toggle{color:#202020;background-color:#202020;border-color:#202020}
.btn-p-info:not(:disabled):not(.disabled).active:focus,.btn-p-info:not(:disabled):not(.disabled):active:focus,.show>.btn-p-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(18,18,18,.7)}

.navbar{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:.5rem 1rem
    }

.navbar>.container,.navbar>.container-fluid{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between
    }

@media (max-width:575.98px){
    .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid{
        padding-right:0;padding-left:0
        }
    }
@media (min-width:576px){
    .navbar-expand-sm{
        -ms-flex-flow:row nowrap;
        flex-flow:row nowrap;
        -ms-flex-pack:start;
        justify-content:flex-start
        }
    .navbar-expand-sm .navbar-nav{
        -ms-flex-direction:row;
        flex-direction:row
        }
    .navbar-expand-sm .navbar-nav .dropdown-menu{
        position:absolute
        }
    .navbar-expand-sm .navbar-nav .nav-link{
        padding-right:.5rem;
        padding-left:.5rem
        }
    .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid{
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap
        }
    .navbar-expand-sm .navbar-collapse{
        display:-ms-flexbox!important;
        display:flex!important;
        -ms-flex-preferred-size:auto;
        flex-basis:auto;
        background-color:#fff;
        }
    .navbar-expand-sm .navbar-toggler{
        display:none
        }
    }

.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}
.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{color:rgba(0,0,0,.9)}
.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.5)}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{color:rgba(0,0,0,.7)}
.navbar-light .navbar-nav .nav-link.disabled{color:rgba(0,0,0,.3)}
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link{color:rgba(0,0,0,.9)}
.navbar-light .navbar-toggler{color:rgba(255,255,255,.9);border-color:rgba(255,255,255,.9)}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
.navbar-light .navbar-text{color:rgba(0,0,0,.5)}
.navbar-light .navbar-text a{color:rgba(0,0,0,.9)}
.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover{color:rgba(0,0,0,.9)}

.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030}

.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}

.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}




.nav-m {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu-m {
    margin: 0 10px 0 0;
}

.link-left {
    text-align: left;
}

.link-right {
    text-align: right;
}

.menu-m a {
    clear: right;
    text-decoration: none;
    margin: 0 10px;
    color: gray;
    line-height: 70px;
}

label {
    float: right;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
}

#toggle{
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu-m {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu-m a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu-m {
        display: block;
    }
}